:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-bg-color: #2f303a;
  --button-grey-color: #f5f4fa;
  --logo-black: #000000;
  --primary-gap: 30px;
  --soc-logo-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background: var(--white-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  min-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* HEADER */

.header {
  border-bottom: 1px solid #eeeeee;
}

.header_container {
  display: flex;
  align-items: center;
}

/* SITE NAVIGATION */

.nav_list {
  display: flex;
  align-items: center;
}
.nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
}

.nav_item:not(:last-child) {
  margin-right: 50px;
}

.nav_link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link:hover,
.nav_link:focus {
  color: var(--accent-color);
}

.nav_link--current {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link:hover::after {
  opacity: 1;
}

.nav_link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link--current:hover::after {
  opacity: 1;
}

.nav_link::after {
  margin-left: auto;
}

/* CONTACTS */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts_item:not(:last-child) {
  margin-right: 50px;
}

.contacts_link:hover,
.contacts_link:focus {
  color: var(--accent-color);
}

.contacts_link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_icon {
  fill: currentColor;
  margin-right: 10px;
}

/* LOGO */

.logo {
  margin: auto 0;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  margin: auto 0;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-black {
  margin: auto 0;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-white {
  margin: auto 0;
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO */

.hero {
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  max-width: 696px;
}

.hero-button {
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: none;
  text-decoration: none;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 530px;
  height: 580px;

  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--logo-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  color: currentColor;
}

.modal-svg:hover,
.modal-svg:focus {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
}

/* FEATURES */

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-icon {
  align-items: center;
  justify-content: center;
}

/* FILTERS AND ACTIVITY */

.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--button-grey-color);
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.activity-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.activity {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap));
  margin-top: calc(-1 * var(--primary-gap));
}
.activity-item {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--primary-gap);
  margin-top: var(--primary-gap);
}

.activity-link:hover,
.activity-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activity-item-bottom {
  padding: 20px 24px 20px 24px;
}

.activity-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
}

.activity-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activity-thumb {
  position: relative;
  overflow: hidden;
}

.activity-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  color: var(--white-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.activity-link:hover .activity-overlay,
.activity-link:focus .activity-overlay {
  transform: translateY(0);
}

.overlay-text {
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
}

/* WORK AND TEAM */

.work {
  padding-top: 0;
}

.work-title,
.team-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap));
  display: flex;
}

.work-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: var(--primary-gap);
  position: relative;
}

.work-item:last-child {
  margin-right: 0;
}

.work-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  background: #2f303acc;
}

.work-bottom-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--white-text-color);
}

.team {
  background-color: var(--button-grey-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-gap));
}

.team-item {
  background: #ffffff;
  flex-basis: calc(100% / 4 -30px);
  margin-left: var(--primary-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-heading {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-item-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-text-color);
}

.team-soc-item {
  width: 44px;
  height: 44px;
}
.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--soc-logo-color);
}

/* CLIENTS */

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
}
.clients-blok {
  margin-right: 30px;
}

.clients-blok:last-child {
  margin-right: 0;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: var(--soc-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg-item:focus,
.clients-svg-item:hover {
  fill: var(--accent-color);
  color: var(--soc-logo-color);
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--soc-logo-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

/* FOOTER */

.footer-item {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--white-text-color);
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-link {
  margin-bottom: 9px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  margin-top: 20px;
}
.footer {
  background-color: var(--black-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-address {
  flex-grow: 1;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.join-title {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join-list {
  display: flex;
  justify-content: center;
}
.join-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.join-link:hover .footer-icon-svg,
.join-link:focus .footer-icon-svg {
  fill: var(--white-text-color);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.flex-box {
  margin-left: 70px;
}

.contact a {
  text-decoration-line: none;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}

.footer-icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

/* SIGNUP */

.signup-footer {
  margin-left: 93px;
}

.signup-label {
  margin-right: 12px;
}

.signup-title {
  display: flex;
  justify-content: left;
  color: var(--white-text-color);
  font-weight: 700;
  text-transform: uppercase;
}
.signup-email {
  padding: 15px 16px;

  height: 50px;
  width: 358px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--white-text-color);
}

.footer-form {
  display: flex;
}

.signup-btn:focus,
.signup-btn:hover {
  color: var(--white-text-color);
}

.signup-btn {
  padding: 10px 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-text-color);
}

.signup-btn-text {
  margin-right: 10px;
}

.signup-svg {
  fill: var(--white-text-color);
}

/* FORM */
.form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-text {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
}
.form-input {
  padding-left: 42px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-input:focus,
.form-input:hover,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  color: var(--accent-color);
  fill: currentColor;
}

.form-icon {
  position: absolute;
  top: 38px;
  left: 12px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
  fill: var(--logo-black);
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form .form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-checkbox {
  appearance: none;
  position: absolute;
}

.form-checkbox:focus + .checkbox,
.form-checkbox:hover + .checkbox {
  fill: var(--accent-color);
}

.form-checkbox:checked + .checkbox {
  border-radius: 2px;
  fill: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/accept.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
