/* CONTACTS */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts_item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts_link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts_icon {
  fill: currentColor;
  margin-right: 10px;
}
