.features_title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
}

.features_list {
  display: flex;
}

.features_item {
  width: 270px;
  margin-right: 30px;
  & {
    margin-right: 0;
  }
}

.features_box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: $button-grey-color;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features_icon {
  align-items: center;
  justify-content: center;
}
