.filters_item:not(:last-child) {
  margin-right: 8px;
}
.filters_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters_button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--button-grey-color);
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters_button:hover,
.filters_button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
