.footer-list_item {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--white-text-color);
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-list_link:hover,
.footer-list_link:focus {
  color: var(--accent-color);
}

.footer-list_link {
  margin-bottom: 9px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  margin-top: 20px;
}
.footer {
  background-color: var(--black-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.connect {
  flex-grow: 1;
}

.footer_container {
  display: flex;
  align-items: baseline;
}

.footer_title {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer_soclist {
  display: flex;
  justify-content: center;
}
.footer_socitem:not(:last-child) {
  margin-right: 10px;
}

.footer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_link:hover,
.footer_link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer_link:hover .footer_icon-svg,
.footer_link:focus .footer_icon-svg {
  fill: var(--white-text-color);
}

.footer_link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer_flex-box {
  margin-left: 70px;
}

.contact a {
  text-decoration-line: none;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}

.footer_icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
