.nav_list {
  display: flex;
  align-items: center;
}
.nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  display: flex;
}

.nav_item:not(:last-child) {
  margin-right: 50px;
}

.nav_link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link:hover,
.nav_link:focus {
  color: var(--accent-color);
}

.nav_link--current {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link:hover::after {
  opacity: 1;
}

.nav_link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_link--current:hover::after {
  opacity: 1;
}

.nav_link::after {
  margin-left: auto;
}
