.signup {
  margin-left: 93px;
}

.signup-label {
  margin-right: 12px;
}

.signup_title {
  display: flex;
  justify-content: left;
  color: var(--white-text-color);
  font-weight: 700;
  text-transform: uppercase;
}
.signup-email {
  padding: 15px 16px;

  height: 50px;
  width: 358px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--white-text-color);
}

.signup_form {
  display: flex;
}

.signup_btn:focus,
.signup_btn:hover {
  color: var(--white-text-color);
}

.signup_btn {
  padding: 10px 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup_btn-text {
  margin-right: 10px;
}

.signup_svg {
  fill: var(--white-text-color);
}
