.soc-list_item {
  width: 44px;
  height: 44px;
}
.soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:focus,
.soc-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.soc-link:hover .soc-link_icon,
.soc-link:focus .soc-link_icon {
  fill: var(--white-text-color);
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list_item + .soc-list_item {
  margin-left: 10px;
}

.soc-link_icon {
  width: 20px;
  height: 20px;
  fill: var(--soc-logo-color);
}
