.work {
  padding-top: 0;
}

.work_title,
.team_title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work_list {
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  display: flex;
  &:last-child {
    margin-right: 0;
  }
}

.work_item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  position: relative;
}

.work_bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  background: #2f303acc;
}

.work_bottom-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $white-text-color;
}
